trigger:
- main



variables:
  ImageName: 'blesson2001/microservicedemo:$(Build.BuildId)'  


stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: DockerImage
    displayName: Build and push Docker image
    steps:
    - task: Docker@1
      displayName: 'Build the Docker image'
      inputs:
        containerregistrytype: 'Container Registry'
        dockerRegistryEndpoint: 'dockerhub'
        command: 'Build an image'
        dockerFile: '**/Dockerfile'
        imageName: '$(ImageName)'
        includeLatestTag: true
        useDefaultContext: false
        buildContext: '.'
        
    - task: Docker@1
      displayName: 'Push the Docker image to Dockerhub'
      inputs:
         containerregistrytype: 'Container Registry'
         dockerRegistryEndpoint: 'dockerhub'
         command: 'Push an image'
         imageName: '$(ImageName)'
      condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
      
- stage: Development
  displayName: Deploy to dev
  dependsOn: Build

  jobs:
  - deployment: Deploy
    displayName: Deploy to dev

    environment: 'dev'
    strategy:
      runOnce:
        deploy:
          steps:

              
          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes cluster
            inputs:
              kubernetesServiceConnection: 'kube'
              action: deploy
              manifests: |
                $(Pipeline.Workspace)/deployment.yml
              imagePullSecrets: |
                $(imagePullSecret)
              containers: |
                blesson2001/microservicedemo:$(Build.BuildId)
